<h2>GMES Productivity Effort Reporting</h2>
<div>


        <form>
          <div class="form-group">
            <label for="sel1">Select list (select one):</label>
            <select [ngModel]="selectedCritical" ng-model="searchtest.action" class="form-control" name="sel2"  (ngModelChange)="onChange($event)">
                <option value="---" >---</option>
                <option value="correct" >Estimation Correct</option>
              <option value="notCorrect" >Estimation not correct</option>
              <option value="extremelyOptimistic" >Estimation extremely Optimistic ( Danger!)</option>
              <option value="extremelyPessimistic" >Estimation extremely Pessimistic</option>
            </select>
      
       
           
      
          </div>
        </form>
      
      </div>

<table ng-init="searchText" class="table table-condensed" style="position: relative">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Version</th>
            <th>Original Estimate ( hours )</th>
            <th>Completed ( hours )</th>
            <th>Assigned to</th>
        </tr>
       
    <!--<tr *ngFor="let wi of workItems  " [class]="wi.critical == 'exOptimistic' ? 'danger': wi.critical == 'correct' || wi.critical == 'exPessimistic'   ? 'success': 'warning' ">-->
        <tr *ngFor="let wi of workItems  " [class]="wi.critical == 'extremelyOptimistic' ? 'danger': wi.critical == 'notCorrect' ? 'warning':'success' ">
            <td>{{wi.id}} </td>
            <td>{{wi.title}}</td>
            <td>{{wi.version}}</td>
            <td>{{wi.originalEstimate}}</td>
            <td>{{wi.completed}}</td>
            <td>{{wi.assignedTo}} </td>
        </tr>
    </thead>
</table>

